.search {
  display: flex;
  justify-content: center;
}

.gameTile:hover {
  transform: scale(1.05);
}

.gameTile {
  display: inline;
  margin: 10px;
}

.ui.card.gameTile {
  margin: 10px;
  margin-bottom: 10px;
}
.gamesListBox {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.gameImg {
  width: 290px;
  height: 350px;
}

.ui.card {
  margin: 10px;
}

.pageTitle {
  background-position: center;
  display: flex;
  justify-content: center;
}