.search {
  display: flex;
  justify-content: center;
}

.gameTile:hover {
  transform: scale(1.05);
}

.gameTile {
  display: inline;
  margin: 10px;
}

.gameTileBack {
  display: inline;
  margin: 10px;
  height: 200px
}

.ui.card.gameTile {
  margin: 10px;
  margin-bottom: 10px;
}
.gamesListBox {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.gameTileBack h3 {
  display: flex;
  justify-content: center;
}

.gamesListBox div {
  margin: 5px;
}

.backCard {
  background-color: rgb(169,169,169);
}

.cardButtons {
  background-color: rgb(169,169,169);
}

.gameImg {
  width: 290px;
  height: 350px;
}

.ui.card {
  margin: 10px;
}

.pageTitle {
  background-position: center;
  display: flex;
  justify-content: center;
}

.xboxContainer {
  display: flex;
  justify-content: center;
  background-color: greenyellow;
  height: 35px;
}

.psContainer {
  display: flex;
  justify-content: center;
  background-color:#3399ff;
  height: 35px;
}

#xboxLogo:hover {
transition: all .5s ease-in-out;
transform: scale(2.5);
}

#psLogo:hover {
transition: all .5s ease-in-out;
transform: scale(2.5);
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px
}