@page
@model lab_46_asp_core_games.Pages.TodosModel
@{
}

@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime


<h1>Users:</h1>

<div id="userContainer">
    <ul id="nameList">
        
    </ul>
</div>

<button onclick="getUsers()">Get Users</button>

<script src="~/js/site.js" asp-append-version="true"></script>
  


